################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/HelloWorld/.vs
/HelloWorld/bin/Debug/net7.0
/HelloWorld/obj/Debug/net7.0
/HelloWorld/obj
/.vs/
/BlazorHybridApp/.vs/
/BlazorHybridApp/BlazorHybridApp/.vs/
/BlazorHybridApp/BlazorHybridApp/obj/
/BlazorHybridApp/BlazorHybridApp/bin/
/ClassLibraryProjects/.vs/
/ClassLibraryProjects/ShowCase/.vs/
/ClassLibraryProjects/ShowCase/bin/
/ClassLibraryProjects/ShowCase/obj/
/ClassLibraryProjects/StringLibrary/.vs/
/ClassLibraryProjects/StringLibrary/bin/
/ClassLibraryProjects/StringLibrary/obj/
/TestProject/.vs/
/TestProject/bin/
/TestProject/obj/
/Authorization/.vs/
/Authorization/bin/
/Authorization/obj/
/Authentification/.vs/
/Authentification/AuthentificationApi/.vs/
/Authentification/AuthentificationApi/bin/
/Authentification/AuthentificationApi/obj/
/Authentification/AuthentificationTests/.vs/
/Authentification/AuthentificationTests/bin/
/Authentification/AuthentificationTests/obj/