################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/**/[Bb]in
/**/[Oo]bj
/**/.vs/
/**/*.[Mn][Dd]